@import "fonts.css";
@import "normalize.css";

* {
    font-family: 'Unbounded', 'Arial', sans-serif;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 1660px;
    height: max-content;
    position: relative;
}


.absolute-bg,
.absolute-block {
    position: absolute;
    top: 0;
    left: 0;
}

.absolute-bg {
    z-index: -1;
    width: 100%;
    height: 100%;
}

.game__section {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    opacity: 0;
    padding: 0 24px;
}

.game__section_active {
    opacity: 1;
}

.game-flex__text-absolute-bg {
    position: absolute;
}

.game-flex__text-absolute-bg-1 {
    top: 159px;
    right: -171px;
}

.game-flex__text-absolute-bg-2 {
    top: 220px;
    right: -186px;
}

.game-flex__text-absolute-bg-3 {
    top: 240px;
    right: -187px;
}

.game-flex__text-absolute-bg-4 {
    top: 160px;
    right: -185px;
}

.game-flex__text-absolute-bg-5 {
    top: 133px;
    right: -182px;
}

.game-flex__text-absolute-bg-6 {
    top: 222px;
    right: -184px;
}

.game-flex__text-absolute-bg-7 {
    top: 220px;
    right: -187px;
}

.game-flex__text-absolute-bg-8 {
    top: 212px;
    right: -188px;
}

.game-flex__text-absolute-bg-9 {
    top: 222px;
    right: -187px;
}

.game-flex__text-absolute-bg-10 {
    top: 183px;
    right: -185px;
}

.game-flex__text-absolute-bg-11 {
    top: 198px;
    right: -186px;
}

.main__container {
    padding-top: 96px;
    border-radius: 60px;
    overflow: hidden;
}

.main__bg {
    object-fit: cover;
}

.main__title {
    color: #FFF;
    font-size: 70px;
    font-weight: 600;
    line-height: 77px;
    text-transform: uppercase;
    background-color: #FF4450;
    padding: 25px 0px;
    text-align: center;
    border-radius: 100px;
    max-width: 1034px;
    margin: 0 0 41px 84px;
}

.main__content {
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    max-width: 864px;
    margin-left: 83px;
    margin-bottom: 36px;
}

.main__content span {
    font-weight: 700;
}

.main__content:nth-of-type(2) {
    max-width: 880px;
    margin-bottom: 116px;
}

.main__img {
    display: none;
}

.main__button {
    border-radius: 100px;
    background: #FFF;
    outline: none;
    border: none;
    color: #FF4450;
    font-size: 30px;
    line-height: 36px;
    max-width: 330px;
    width: 100%;
    margin-left: 83px;
    padding: 28px 0;
    margin-bottom: 67px;
    cursor: pointer;
    transition: 0.1s linear;
    text-transform: uppercase;
}

.main__button:active {
    color: #FFF;
    background: #F00;
}

.game-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.game-flex__text-content {
    border-radius: 60px;
    background-color: #FF4450;
    flex: 0 0 524px;
    padding: 30px 31px 40px;
    margin-right: 21px;
}

.big .game-flex__item {
    flex: 0 0 819px;
}

.game-flex__head {
    position: relative;
    height: 637px;
    background-color: #FFFFFF;
    border-radius: 30px;
    overflow: hidden;
}

.type .game-flex__head {
    height: 610px;
}

.game-flex__head-text {
    z-index: 2;
    color: #000;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    position: relative;
    padding-left: 48px;
    padding-top: 68px;
}


.big .game-flex__head-text {
    font-size: 44px;
    line-height: 1.3;
    position: relative;
    padding-left: 52px;
    padding-top: 91px;
}

.game-flex__head-type {
    font-size: 24.97px;
    font-weight: 400;
    line-height: 32.46px;
    color: #FFFFFF;
    width: fit-content;
    border-radius: 14.27px;
    padding: 5px 13px;
    z-index: 2;
    position: relative;
    margin: 9px 0 0 52px;
}

.game-flex__head-type_1 {
    background-color: #29CC6A;
}

.game-flex__head-type_2 {
    background-color: #0099FF;
}

.game-flex__head-type_3 {
    background-color: #7B61FF;
}

.game-flex__head-type_4 {
    background-color: #FF9960;
}

.game-flex__head-type_5 {
    background-color: #FF487F;
}

.game-flex__footer {
    display: flex;
    align-items: center;
    border-radius: 60px;
    background: #FFF;
    padding: 12px 15px 12px;
    margin-top: 24px;
}

.big .game-flex__footer {
    padding: 19px 23px 18px 22px;
    margin-top: 21px;
}

.game-flex__footer-link {
    background: #F7F7F7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    box-shadow: -2px -2px 6px 0px rgba(0, 0, 0, 0.10) inset, 2px 2px 6px 0px rgba(255, 255, 255, 0.60) inset;
}

.big .game-flex__footer-link {
    width: 65px;
    height: 65px;
}

.big .game-flex__footer-link img {
    width: 24px;
}

.game-flex__footer-link img {
    width: 16.4px;
}

.game-flex__footer-link_1 {
    margin-right: 10px;
}

.game-flex__footer-link_2 {
    margin-right: 25px;
    background: #E9F4FF;
}

.game-flex__footer-link_3 {
    margin-left: 101px;
}

.game-flex__footer-button {
    outline: none;
    border: none;
    border-radius: 100px;
    background: #FF4450;
    color: #FFF;
    font-weight: 500;
    font-size: 17.08px;
    line-height: 25.62px;
    text-transform: uppercase;
    padding: 8px 23px;
    cursor: pointer;
    flex: auto;
}

.big .game-flex__footer-button {
    font-size: 25px;
    line-height: 1.5;
    padding: 13px 23px;
}

.game-flex__footer-button:disabled {
    filter: opacity(0.3) grayscale(0.4);
}

.game-flex__list {
    background-color: #F7F7F7;
    display: flex;
    flex-wrap: wrap;
    border-radius: 60px;
    flex: 0 0 1113px;
    padding: 47px 37px 59px 47px;
}

.type .game-flex__list {
    padding: 38px 18px 37px 31px;
}

.game-flex__list-item {
    position: relative;
    flex: 0 0 238px;
    border-radius: 30px;
    background: #FFF;
    height: 340px;
    transition: 0.1s linear;
    overflow: hidden;
}

.game-flex__list-item.active {
    opacity: 0.3;
    filter: drop-shadow(2px 4px 13px black);
}

.type .game-flex__list-item {
    padding: 24px 26px 24px 23px;
}

.type .game-flex__list-item:not(:last-child):not(:nth-child(2)) {
    margin-right: 16px;
}

.type .game-flex__list-item:nth-child(-n+2) {
    flex: 0 0 367px;
    min-height: 352px;
    margin-bottom: 19px;
}

.type .game-flex__list-item:nth-child(-n+2) img {
    transform: translateX(44px);
}

.type .game-flex__list-head {
    height: 153px;
    margin-bottom: 19px;
}

.type .game-flex__list-item:nth-child(-n+2) .game-flex__list-head {
    height: 180px;
}

.type .game-flex__list-item:not(:nth-child(-n+2)) img {
    transform: translateX(10px);
}

.type .game-flex__list-item:nth-child(-n+2) .game-flex__list-content {
    transform: translateY(-8px);
}

.type .game-flex__list-item:not(:nth-child(-n+2)) .game-flex__list-title {
    margin-bottom: 15px;
}

.game-flex__list-item input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    cursor: pointer;
    z-index: 10;
}

.type .game-flex__list-item:not(:last-child):not(:nth-child(2)) {
    margin-right: 18px;
}

.game-flex__list-item input:checked + .game-flex__counter {
    opacity: 1;
}

.game-flex__counter {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    width: 43px;
    height: 43px;
    background-color: #F30000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 29px;
    left: 25px;
    transition: 0.1s linear;
}

.game-flex__list-head {
    min-height: 153px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 9px;
}

.powers[data-type="Офис"] .game-flex__list-head,
.attributes[data-type="Офис"] .game-flex__list-head {
    background: radial-gradient(0% 50% at 50% 50%, #FFFFFF 0%, #B9FF98 100%);
}

.powers[data-type="Свежий воздух"] .game-flex__list-head,
.attributes[data-type="Свежий воздух"] .game-flex__list-head {
    background: radial-gradient(0% 50% at 50% 50%, #FFFFFF 0%, #54C8E3 100%);
}

.powers[data-type="Гибрид"] .game-flex__list-head,
.attributes[data-type="Гибрид"] .game-flex__list-head {
    background: radial-gradient(0% 50% at 50% 50%, #FFFFFF 0%, #CA88FF 100%);
}

.powers[data-type="В пути"] .game-flex__list-head,
.attributes[data-type="В пути"] .game-flex__list-head {
    background: radial-gradient(0% 50% at 50% 50%, #FFFFFF 0%, #FF9960 100%);
}

.powers[data-type="На производстве"] .game-flex__list-head,
.attributes[data-type="На производстве"] .game-flex__list-head {
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #FF487F 100%);
}

.game-flex__list-footer {
    display: flex;
    align-items: flex-start;
}

.game-flex__list-title {
    font-size: 17px;
    font-weight: 700;
    line-height: 20.4px;
    text-transform: uppercase;
    min-height: 40px;
}

.game-flex__list-content {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    text-transform: uppercase;
    margin-left: 27px;
    max-width: 188px;
    min-height: 54px;
    display: flex;
    align-items: flex-end;
}

.game-flex__list-content.big {
    max-width: 210px;
}

.type .game-flex__list-content {
    text-transform: initial;
    font-weight: 400;
    margin-left: initial;
    max-width: initial;
    min-height: initial;
}

.game-flex__list-footer {
    display: flex;
    flex-direction: column;
    min-height: 30px;
}

.game-flex__list-head_third-1 {
    background: #FFF068;
}

.game-flex__list-head_third-1 img {
    top: 38px;
    left: -28px;
}

.game-flex__list-head_third-2 {
    background: #F30000;
}

.game-flex__list-head_third-2 img {
    top: 31px;
    left: 40px;
}

.game-flex__list-head_third-3 {
    background: #ECC2FF;
}

.game-flex__list-head_third-3 img {
    top: 15px;
    left: -10px;
}

.game-flex__list-head_third-4 {
    background: #5BDA58;
}

.game-flex__list-head_third-4 img {
    top: 40px;
    left: -7px;
}

.game-flex__list-svg {
    background-color: #E9F4FF;
    box-shadow: -2px -2px 6px 0px rgba(0, 0, 0, 0.10) inset, 2px 2px 6px 0px rgba(255, 255, 255, 0.60) inset;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    transition: 0.1s linear;
    position: absolute;
    bottom: 4px;
    left: 10px;
}

.game-flex__list-head_4-small {
    bottom: 23px;
    left: 42px;
}

.game-flex__list-head_4-big {
    bottom: 28px;
    left: 118px;
}

.game-flex__list-bg-4 {
    position: absolute;
    border-radius: 30px;
    background: #FFF068;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.1s linear;
    z-index: 1;
}

.result__wrapper {
    position: relative;
    padding: 61px 65px 58px;
    background-color: #FF4450;
    border-radius: 30px;
    width: 100%;
}

.result__content {
    display: flex;
}

.result__content img {
    object-fit: cover;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    max-width: 664px;
}

.result__content-text {
    margin-left: 22px;
    flex: 0 0 842px;
}

.result__content-text-item {
    background-color: #FFF;
    border-radius: 30px;
    padding: 59px 38px 104px 53px;
}

.result__content-text-item:nth-child(2) {
    padding: 49px 80px 43px 53px;
}

.result__content-text-item:not(:last-of-type) {
    margin-bottom: 17px;
}

.result__content-text h2 {
    color: #FF4450;
    font-size: 42px;
    font-weight: 600;
    line-height: 46.2px;
    margin: 6px 0 39px;
}

.result__content-text-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    width: 100%;
}

.result[data-type="В пути"] .result__content-text-list {
    max-width: 550px;
}

.result__content-text-list-item {
    border: 1px solid #000000;
    border-radius: 14.27px;
    padding: 5px 14px 5px;
    width: fit-content;
    font-size: 22px;
    font-weight: 400;
    line-height: 28.6px;
    color: #222222;
    margin: 0 11px 16px 0;
}

.result__content-text-content {
    color: #222222;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    max-width: 666px;
    margin-top: 23px;
    width: 100%;
}

.result__content-text-content a {
    color: inherit;
}

.result__socials-text {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #222222;
    padding-left: 68px;
    margin-bottom: 16px;
}

.result__socials-text::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 43px;
    height: 43px;
    background: url('/images/vk.svg') no-repeat center;
}

.result__socials-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-decoration: none;
    color: #2787F5;
    text-transform: uppercase;
    border: 1px solid #0099FF;
    border-radius: 20px;
    padding: 8px 20px;
    display: block;
    transition: 0.1s linear;
    width: fit-content;
    margin-left: 68px;
}

.result__socials-link:hover {
    opacity: 0.6;
}

@media (max-width: 1710px) {
    .big .game-flex__item {
        flex: 0 0 47.89vw;
    }

    .type .game-flex__list-item:nth-child(-n+2) {
        flex: 0 0 21.5vw;
    }

    .type .game-flex__list-item {
        flex: 0 0 13.7vw;
    }

    .type .game-flex__list-item {
        padding: 24px 15px 24px;
    }

    .game-flex__footer-button {
        font-size: 23px;
        padding: 13px 23px;
    }

    .result__content-text {
        flex: 0 1 48.56vw;
    }

    .game-flex__list {
        flex: 0 1 68vw;
        padding: 47px 37px 59px;
    }

    .powers .game-flex__list-item,
    .attributes .game-flex__list-item {
        flex: 0 0 22%;
    }

    .game-flex__list-footer {
        margin-top: 13px;
        padding: 0 15px;
    }

}

@media (min-width: 1421px) and (max-width: 1709px) {
    .game-flex__list-content {
        font-size: 10px;
        line-height: 12.8px;
        margin-left: initial;
    }
}

@media (max-width: 1420px) {
    .game__section {
        top: 24px;
        transform: translateX(-50%);
    }

    .main__title {
        font-size: 55px;
        line-height: 62px;
        max-width: 840px;
        margin: 0 84px 41px;
    }

    .main__container {
        background: linear-gradient(90deg, #A4ABFF 14.23%, #B3A8FF 41.29%);
    }

    .main__bg {
        display: none;
    }

    .main__content {
        margin-right: 83px;
    }

    .main__content,
    .main__content:nth-of-type(2) {
        max-width: initial;
    }

    .main__content:nth-of-type(2) {
        margin-bottom: 70px;
    }

    .main__content br {
        display: none;
    }

    .main__img {
        display: block;
        width: 57vw;
        margin: 0 auto;
    }

    .main__button {
        margin: 69px auto 67px;
        display: block;
    }

    .game-flex {
        flex-direction: column;
        border-radius: 60px;
        background-color: #FF4450;
        padding: 30px;
    }

    .game-flex__text-content {
        border-radius: initial;
        background-color: initial;
    }

    .game-flex__list {
        background-color: initial;
    }

    .game-flex__text-content,
    .game-flex__list,
    .type .game-flex__list {
        padding: 0;
    }

    .game-flex__item {
        flex: initial;
        width: 100%;
    }

    .type .game-flex__list-item:nth-child(-n+2) {
        flex: 0 0 49%;
    }

    .type .game-flex__list-item {
        flex: 0 0 32%;
    }

    .game-flex__text-content {
        margin-bottom: 60px;
    }

    .game-flex__list-content {
        margin: 0 auto;
        font-size: 13px;
    }

    .game-flex__list-item {
        flex: 0 0 22%;
    }

    .result__content {
        flex-direction: column;
    }

    .result__content img {
        margin: 0 auto;
        display: block;
    }

    .result__content-text {
        margin-top: 40px;
        margin-left: initial;
        flex: 0 1 100%;
    }


    .result__socials-text {
        max-width: 710px;
    }
}

@media (min-width: 1025px) {
    .powers .game-flex__list-item:not(:nth-child(4n)):not(:last-child),
    .attributes .game-flex__list-item:not(:nth-child(4n)):not(:last-child) {
        margin-right: 18px;
    }

    .game-flex__list-item:nth-child(-n+4) {
        margin-bottom: 14px;
    }
}

@media (max-width: 1024px) {
    .main__title {
        font-size: 36px;
        line-height: 43px;
    }

    .powers .game-flex__list-head,
    .attributes .game-flex__list-head  {
        border-radius: 30px;
    }

    .type .game-flex__list-item:nth-child(-n+2) {
        flex: 0 0 47%;
    }

    .type .game-flex__list-item {
        flex: 0 0 31%;
    }

    .powers .game-flex__list-item,
    .attributes .game-flex__list-item {
        flex: 0 0 47%;
    }

    .powers .game-flex__list-item:nth-child(even),
    .attributes .game-flex__list-item:nth-child(even) {
        margin-right: 0!important;
    }

    .game-flex__list-item {
        margin-bottom: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1701px) {
    .game-flex__list {
        justify-content: space-between;
    }
}